<p-tabView>
  <p-tabPanel header="NPM Installs">
    <h2>NPM Installs</h2>
    <figure>
      <pre><code contenteditable spellcheck="false">
      npm install primeng --save
      npm install primeicons --save
      npm install primeflex --save
      npm install @angular/animations -- save
    </code></pre>
    </figure>
    <h2>NPM Installs If making a WAR file</h2>
    <figure>
      <pre><code contenteditable spellcheck="false">
		npm install gulp -D
		npm install gulp-cli -D
		npm install gulp-war -D
		npm install gulp-zip -D
    </code></pre>
    </figure>
  </p-tabPanel>
  <p-tabPanel header="App Module Imports">
    <h2>App Module Imports</h2>
    <figure>
      <pre><code contenteditable spellcheck="false">
        import {{ '{' }}BrowserAnimationsModule{{ '}' }} from '@angular/platform-browser/animations';
        import {{ '{' }}FormsModule, ReactiveFormsModule {{ '}' }} from '@angular/forms';
        import {{ '{' }}MessageModule {{ '}' }} from 'primeng/message';
        import {{ '{' }}CheckboxModule{{ '}' }} from 'primeng/checkbox';
        import {{ '{' }}CalendarModule{{ '}' }} from 'primeng/calendar';
        import {{ '{' }}PanelModule{{ '}' }} from 'primeng/panel';
        import {{ '{' }}TabViewModule{{ '}' }} from 'primeng/tabview';
        import {{ '{' }}TableModule{{ '}' }} from 'primeng/table';
		import {{ '{' }}DialogModule{{ '}' }} from 'primeng/dialog';

      </code></pre>
    </figure>
    <h2>For Import Section</h2>
    <figure>
      <pre><code contenteditable spellcheck="false">
        BrowserAnimationsModule,
        ReactiveFormsModule,
        FormsModule,
        MessageModule,
        CheckboxModule,
        CalendarModule,
        PanelModule,
        TabViewModule,
        TableModule,
		DialogModule
      </code></pre>
    </figure>
  </p-tabPanel>
  <p-tabPanel header="angular.json">
    <figure>
      <pre><code contenteditable spellcheck="false">
    "styles": [
    "node_modules/primeflex/primeflex.css",
    "node_modules/primeicons/primeicons.css",
    "node_modules/primeng/resources/themes/nova-light/theme.css",
    "node_modules/primeng/resources/primeng.min.css",
    //...
    ]    </code></pre>
    </figure>
  </p-tabPanel>
</p-tabView>
