<p-tabView>
  <p-tabPanel header="NPM Installs">
    <h2>NPM Installs</h2>
    <figure>
      <pre><code contenteditable spellcheck="false">
      npm install primeng --save
      npm install primeicons --save
      npm install primeflex --save
      npm install @angular/animations -- save
    </code></pre>
    </figure>
  </p-tabPanel>
  <p-tabPanel header="App Module Imports">
    <h2>App Module Imports</h2>
    <figure>
      <pre><code contenteditable spellcheck="false">
        import {{ '{' }}BrowserAnimationsModule{{ '}' }} from '@angular/platform-browser/animations';
        import {{ '{' }}FormsModule, ReactiveFormsModule {{ '}' }} from '@angular/forms';
        import {{ '{' }}HttpClientModule, HttpClientJsonpModule {{ '}' }} from '@angular/common/http';
        import {{ '{' }}AppRoutingModule{{ '}' }} from './app-routing.module';

        import {{ '{' }}MessageModule{{ '}' }}from 'primeng/message';
        import {{ '{' }}CheckboxModule{{ '}' }}from 'primeng/checkbox';
        import {{ '{' }}CalendarModule{{ '}' }}from 'primeng/calendar';
        import {{ '{' }}PanelModule{{ '}' }}from 'primeng/panel';
        import {{ '{' }}TabViewModule{{ '}' }}from 'primeng/tabview';
        import {{ '{' }}TableModule{{ '}' }}from 'primeng/table';
        import {{ '{' }}DialogModule{{ '}' }}from 'primeng/dialog';
        import {{ '{' }}AutoCompleteModule{{ '}' }}from 'primeng/autocomplete';
              </code></pre>
    </figure>
    <h2>For Import Section</h2>
    <figure>
      <pre><code contenteditable spellcheck="false">
        BrowserModule,
        BrowserAnimationsModule,
        HttpClientModule,
        HttpClientJsonpModule,
        AppRoutingModule,
        FormsModule,
        ReactiveFormsModule,
        MessageModule,
        CheckboxModule,
        CalendarModule,
        PanelModule,
        TabViewModule,
        TableModule,
        DialogModule,
        AutoCompleteModule
          </code></pre>
    </figure>
  </p-tabPanel>
  <p-tabPanel header="angular.json">
    <figure>
      <pre><code contenteditable spellcheck="false">
    "styles": [
    "node_modules/primeflex/primeflex.css",
    "node_modules/primeicons/primeicons.css",
    "node_modules/primeng/resources/themes/nova-light/theme.css",
    "node_modules/primeng/resources/primeng.min.css",
    //...
    ]    </code></pre>
    </figure>
  </p-tabPanel>
</p-tabView>
